.countries{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
}
.flag{
    width: 100px;
}

@media screen and (min-width: 768px) {
    .countries{
        grid-template-columns: repeat(2, 1fr);
    } 
}
@media screen and (min-width: 992px) {
    .countries{
        grid-template-columns: repeat(3, 1fr);
    } 

}
@media screen and (min-width: 1440px) {
    .countries{
        grid-template-columns: repeat(4, 1fr);
    } 
}

