.country{
    color: skyblue;
    border: 2px solid skyblue;
    margin: 10px 0px;
    border-radius: 15px;
    padding:15px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.visited{
    background-color: skyblue;
    color: black;
}
.btn{
    margin: 10px;
}